<div class="container">
    <h1>Könyv szerkesztése</h1>

    <%= simple_form_for @book do |f| %>
        <%= f.input :title, label: "Könyv címe" %>
        <%= f.association :categories, label: "Válassz kategóriát", as: :check_boxes %>
        <%= f.input :description, label: 'Leírás' %>
        <%= f.input :author, label: 'Szerző' %>
        <%= f.submit 'Módosít', class: 'btn btn-primary' %>
    <% end %>
</div>